<html lang="en">
    <head>
    <meta charset='UTF-8' />
    <title>Teck blog</title>
    <link rel='stylesheet' href='/jass.css' />
    <link rel='stylesheet' href='/style.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
       <a>Home</a>
       <a>Dashboard</a>
       <a>Login</a>
      </header>

       <main class='container container-fluid mt-5'>
        
        {{{body}}}
      </main>
    </div>
  </body>

</html>