
<h1>{{user_id}}</h1>
<div class="dashboard hidden d-flex justify-content-start" data-userid="{{user_id}}">
  
    <h4 class=" create-post col-12 ">Create a post</h4>
    <label>Title:</label>
    <input for="title" id="title" class="form-control">
    <label>Content:</label>
    <textarea id="title-content" class="form-control"></textarea>
    <button type="submit" class="btn-create">Create</button>

</div>

<div class="new-post"><button class="new-postBtn">+ New Post</button></div>

<script type="text/javascript" src="/js/dashboard.js"></script>