<div class="posts-list">
{{#each posts as |post|}}
<div class="post">
    <div class="post-header">
        <button class="post-title">{{post.title}}</button>
        <h5>Posted by: {{post.user.name}} on {{post.createdAt}}</h5>
    </div>
    <p class=" content">{{post.content}}</p>
    <div class="comment-area">
        <h4 class=" comment-header">Comment</h4>
        <textarea placeholder="Write a comment"></textarea>

    </div>
</div>
{{/each}}
</div>
<script type="text\javascript" src="../public/js/home.js"></script>