.dashboard{
    margin-top:150px;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
    width: 60%;
    padding:20px;
    background-color: rgb(195, 192, 188);
    border-radius: 10px;
    box-shadow: 3px 3px 4px 4px gray;

}

.create-post{
    background-color: rgb(176, 175, 173); ;
   box-shadow:2px 2px 3px 3px rgb(168, 165, 162);
   padding: 10px;
   border-radius: 25px;
}


.btn-create{
    margin:auto;
    margin-top:20px;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(168, 168, 181);
    color:white;
}

/* style for new post button */
.new-post{
    position: absolute;
    top: 75%;
    margin-top:40px;
    width: 100%;
    display:flex;
    justify-content: center;
}

.new-postBtn{
    width: 200px;
    background-color: rgb(48, 48, 50);
    border-radius: 10px;
    color:white;

}