:root {
    --primary: #989AA3;
    --secondary: #f5a25d;
    --tertiary: #fa7f72;
    --quatrinary: #B8C6E3;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
  }
  
  header {
 
    padding: 30px;
    height: 100px;
    gap:20px;
    text-align: center;
    background: var(--primary);
    color: white;
    border-bottom-style: solid;
    a{
      color: white;
      text-decoration: none;
      
     }
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
 
  nav {
    display: flex;
    background-color: var(--secondary);
  }
 
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }
  